/* You can add global styles to this file, and also import other style files */

$light-grey: #6c7069;
$green: #15A811;
$yellow:#D8CE17 ;
$white:#ffffff;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
